li {
    float: left;
}

a {
    display: block;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

#logo {
    background: transparent url("https://www.google.pl/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png") no-repeat 0% 0% scroll;
    background-size: 272px 92px;
    margin: 0 auto;
    height: 92px;
    width: 272px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
    display: inline;
    height: 30px;
    right: 30px;
    position: absolute;
}
